<div class='tweet_item'>
  <div class="row">
    <div class="left"><a href="/profile/<%=name%>"><strong><%=name%></strong></a></div>
    <section class="right"><%=updated_at%></section><br>
  </div>
  <div id = "tweet-line-two" class="row">
  <%= content %>
  </div>
  <% @id = id %>
  <% @retweet = Tweet.where(id: @id).first %>

  <!-- #hidden form that populates with retweet data -->

  <form id="new_tweet" action="/retweet" method="post">
    <input type="hidden" name="content" value="<%= @retweet.content %>" />
    <input type="hidden" name="original_user" value = "<%= @retweet.user.username %>" />
    <input type="submit" value="Retweet">
  </form>

</div>

