<div class="container">
  <h1>This is your home feed, <%=@username%>!</h1>

  <% get_counts %>
  <h4>Followers <%= @followers %>    |    Following <%= @following %></h4>
  <%= erb :"partials/search" %>

  <% if @tweet_error %>
    <p class="error"><%= @tweet_error %></p>
  <% end %>

  <form id="new_tweet" action="/tweets" method="post">
    <textarea class='tweet_content' name="content" placeholder="New tweet here&hellip;"></textarea>
    <input type="submit" value="Tweet">
  </form>
  <hr>

  <%= erb :'partials/tweetlist', :layout => false, :locals => {:tweets => @tweets }%>


  <a href="/logout">Logout</a>



</div>
