<div class="container">
  <h1>This is your home feed, <%=@username%>!</h1>
  <% get_counts %>
  <h4>Followers <%= @followers %>    |    Following <%= @following %></h4>
  <%= erb :"partials/search" %>
  <form id="new_tweet" action="/tweets" method="post">
    <label for="tweet">Send a tweet:<br></label>
    <textarea class='tweet_content' name="content" placeholder="New tweet here&hellip;"></textarea>
    <input type="submit" value="Submit">
  </form>
  <hr>
 <%= erb :'partials/tweetlist', :layout => false, :locals => {:tweets => @tweets }%>


  <a href="/logout">Logout</a>



</div>
